body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App .login{
  height: 250px;
  box-shadow: 0 0 4px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 200px;
  text-align: center;
}

.App .login div{
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 200px;
}

.error{
  margin-top: 10px;
  background-color: tomato;
  font-size: .9rem;
  padding: 5px;
  border-radius: 5px;
  color: white;
}
