body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
}
h1{
  width: 100%;
  text-align: center;
  align-self: flex-end;
}

.App .login{
  height: 250px;
  box-shadow: 0 0 4px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.App .login input{
  border: slategray solid 1px;
}

.App .login div{
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 200px;
}

.error{
  margin-top: 10px;
  background-color: tomato;
  font-size: .9rem;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.task{
  background-color: rebeccapurple;

  min-height: 250px;
  box-shadow: 0 0 4px gray;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  text-align: center;
  margin: 20px;
  color: #fff;
}

button{
  background-color: red;
  border-radius: 3px;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}
input{
  padding: 5px;
  outline: none;
  border-radius: 5px;
  border: none;
}
.btn-save{
  background-color: seagreen;
}
